// sidebar
$menuText:white;
$menuActiveText:#0c0c0c;
$subMenuActiveText:#1414145b; //https://github.com/ElemeFE/element/issues/12951
$menuBg:rgba(0, 0, 0, 0);
$menuHover:#1414145b;
$subMenuBg:rgba(0, 0, 0, 0);
$subMenuHover:#1414145b;
$sideBarWidth: 210px;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    sideBarWidth: $sideBarWidth;
}